

<div class="row">
    <div class="col-md-3">
      <nav class="sidebar " id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <img src="assets/images/faces/face1.jpg" alt="avatar">
            <span class="login-status online"></span> <!--change to offline or busy as needed-->
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-3">David Grey. H</span>
            </div>
            Je suis Haykel Maaoui ingenier en System D'information Informatique
          </li>
          <li>
            <div class="line" style="margin-top: 15px"></div>
          </li>
          <li style="margin-left: 30px">
            <span style="color: #a01a1f"> Last Event Created</span>
          </li>
          <li>
            <div class="line"></div>
          </li>
        </ul>


      </nav>

    </div>

<div class="col-md-5">
<form>

  <div class="form-group">
    <label for="username" >Username : </label>
    <input class="form-control" type="text" style="font-size: 17px" [(ngModel)]="users.username" id="username" disabled [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="name" >Name : </label>
    <input class="form-control" type="text"  [(ngModel)]="users.name" id="name"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="prenom" >Prenom : </label>
    <input class="form-control" type="text"  [(ngModel)]="users.prenom" id="prenom"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="email" >Email : </label>
    <input class="form-control" type="email"  [(ngModel)]="users.email" id="email"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="tel" >Tel : </label>
    <input class="form-control" type="text"  [(ngModel)]="users.tel" id="tel"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="contry" >Contry : </label>
    <input class="form-control" type="text"  [(ngModel)]="users.contry" id="contry"[ngModelOptions]="{standalone: true}">
  </div>

<button class="btn btn-outline-primary" type="submit" (click)="onUpdate()"> Modifier</button>
  <button class="btn btn-outline-info" style="margin-left: 20px" (click)="nav()">Annuler</button>
</form>


  <div [hidden]="!submitted">
    <div  class="alert alert-success">
      You Profil Update successfully!
    </div>
</div>
 </div>


